<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <description>Command - test web application</description>
    <display-name>Command</display-name>

    <servlet>
        <servlet-name>run</servlet-name>
        <servlet-class>com.shelf.command.CommandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>run</servlet-name>
        <url-pattern>/run</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>run</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/error.html</location>
    </error-page>

</web-app>
